@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Signika:wght@300..700&display=swap');

.home {
    min-height: calc(100vh-400px);
    width: 100%;
}

.rich-flavour {
    background-color: #F9F1E4;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    padding: 100px;
}

.vegetable {
    width: 500px;
    height: 500px;
}

.rich {
    color: #347758;
    font-size: 73px;
    width: 700px;
    font-family: "Signika", sans-serif;
}

.orange {
    color: white;
    font-weight: bolder;
    border: 1px solid orange;
    background-color: orange;
    padding-block: 10px;
    padding-inline: 15px;
    text-decoration: none;
    font-family: "Signika", sans-serif;
}

.orange:hover {
    color: #fff;
    background-color: #347758;
    border: 1px solid #347758;
    cursor: pointer;
    transition: 0.6s;
}

.home-p {
    font-family: "Poppins", sans-serif;
    color: #666666;
    font-size: 22px;
    font-weight: 500;
    padding-block: 20px;
}

.categories {
    width: 100%;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 100px;
    justify-content: center;
}

.category {
    width: 330px;
    border-radius: 50%;
    padding-inline: 20px;
}

.category-title {
    color: #347758;
    font-family: "Signika", sans-serif;
    padding-bottom: 50px;
    font-size: 45px;
}

.category-images {
    display: flex;
    text-align: center;

}

.category-text {
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    color: #101010;
    font-family: "Signika", sans-serif;
    transition: all 0.4s;
    padding-top: 15px;
}

.category-text:hover {
    color: #347758;
    cursor: pointer;
}

.best-selling {
    background-color: #EEF0E5;
    padding-block: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.best-product {
    text-align: center;
}

.best-card {
    display: flex;
    flex-direction: column;
    width: 250px;
    padding-top: 20px;
    padding-bottom: 40px;
    border: 1px solid whitesmoke;
    background-color: white;
    cursor: pointer;
}

.sale {
    border: 1px solid #347758;
    background-color: #347758;
    border-radius: 20px;
    padding-inline: 8px;
    padding-block: 5px;
    font-size: 15px;
    width: fit-content;
    color: white;
    margin-left: 15px;
    cursor: pointer;
}

.prices {
    padding-block: 20px;
}

.price {
    text-decoration: line-through;
    font-size: medium;
    color: #347758;
    padding-right: 5px;
}

.best-pictures {
    display: flex;
    justify-content: space-around;
    width: 80%;
    padding-bottom: 50px;
}

.home-add {
    width: 100%;
    text-align: center;
    padding-block: 100px;
}

.add-texts{
    background: url(./images/productsBack.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 100px;
    border: 1px solid green;
    border-radius: 20px;
}
.weekend {
    color: #101010;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: "Poppins", sans-serif;
}

.getUp {
    color: #FFFFFF;
    font-size: 52px;
    text-transform: capitalize;
    font-family: "Signika", sans-serif;
}

.supply {
    font-size: 22px;
    font-family: "Poppins", sans-serif;
    color: white;
    padding-block: 30px;
}

.features-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.features {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.feature {
    text-align: center;
    margin: 20px;
}

.feature-img {
    width: 150px;
    height: 150px;
}
.featureFirst{
    display: flex;
    align-items: center;
    justify-content: center;
}
.featureSecond{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-image {
    width: 900px;
    height: auto;
    margin-top: -20%;
}

.feature-title {
    font: 20px "Signika", sans-serif;
    color: #347758;
    font-weight: bold;
}

.feature-paragraph {
    font: 15px "Poppins", sans-serif;
    color: #666666;
    width: 300px;
}

.newsletter-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.newsletter-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.subscribe-section,
.cta-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    height: 250px;
}

.subscribe-section {
    background: url(./images/cornBack.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.subscribeTitle {
    color: #347758;
    font-size: 36px;
    text-transform: capitalize;
    line-height: 1.25em;
    font-family: "Signika", sans-serif;
    text-align: center;
}

.email-box {
    display: flex;
    padding-top: 50px;
    padding-block: 20px;
}

.emailInput {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    width: 70%;
    margin-right: 10px;

}

.cta-section {
    font-size: 18px;
    color: white;
    display: block;
    background: url(./images/tomatoBack.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 45px;
    padding-inline: 50px;
}
.cta-title{
    color: #FFFFFF;
    font-size: 36px;
    text-transform: capitalize;
    line-height: 1.25em;
    font-family: "Signika", sans-serif;
    width: 350px;
    padding-bottom: 20px;
}

.ourBlog{
    background-color:#FCFDF4;
    padding-block: 100px;
    width: 100%;
   
}
.blogCard{
    padding-block: 10px;
    border: 1px solid lightgray;
    border-radius: 20px;
    width: 450px;
    cursor: pointer;
}
.blogImg{
    width: 448px;
    border-radius: 5px;
}
.blogTitle{
    color: #347758;
    font-size: 24px;
    font-family: "Signika", sans-serif;
}
.centerBlog{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.blogTxt{
    padding: 20px;
}

@media (max-width: 800px) {
    .rich-flavour, .nature{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .vegetable{
        width: 400px;
        height: 400px;
    }
    .rich{
        width: 90%;
        font-size: 50px;
        text-align: center;
        padding-top: 30px;
    }
    .home-p{
        text-align: center;
        padding-block: 30px;
    }
    .category-images{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .category-text{
        padding-bottom: 20px;
    }
    .best-pictures{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .home-add{
        width: 100%; 
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .add-texts{
        width: 90%;
        background-position:  right;
    }
    .getUp{
        font-size: 45px;
    }
    .category-title{
        text-align: center;
    }
    .features{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .feature-paragraph{
        width: 100%;
    }
    .featureFirst, .featureSecond{
        flex-direction: column;
    }
    .main-image{
        margin-top: 0;
        width: 100%;
    }
    .newsletter-box{
        flex-direction: column;
    }
    .centerBlog{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}


@media (max-width: 1650px) {
    .rich-flavour, .nature{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .rich{
        width: 90%;
        font-size: 50px;
        text-align: center;
        padding-top: 30px;
    }
    .home-p{
        text-align: center;
        padding-block: 30px;
    }
    .category-images{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .category-text{
        padding-bottom: 20px;
    }
    .best-pictures{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .home-add{
        width: 100%; 
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .add-texts{
        width: 90%;
        background-position:  right;
    }
    .getUp{
        font-size: 45px;
    }
    .category-title{
        text-align: center;
    }
    .features{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .feature-paragraph{
        width: 100%;
    }
    .main-image{
        margin-top: 0;
        width: 100%;
    }
    .newsletter-box{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .centerBlog{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}
